*{
    padding: 0;
    margin: 0;
}
.menu-principal{
    display: flex;
    justify-content: space-between;
}
.java{
    font-size: 30px;
    color:black;
    margin:0 15px 0 5px;
}
.access{
    display: none;
}
.nav-text{
    font-size: 1.5rem;
}
/* .card{
    height: 200px !important;
} */
@media (min-width: 576px) and (max-width: 992px) {
    .miDropdown{
        display: none;
    }
    .access{
        display: flex;
    }
    .nav-icon{
        font-size: 100px;
        margin-left: 30vw;
    }
    
    .hamburguesa{
        font-size: 50px;
    }
    .nav-text{
        font-size: 2.5rem;
    }
    .nav-link{
        font-size: 2.5rem !important;
        margin: 0.25rem 0;
    }
    .cards{
        padding: 0 10vw !important;
    }
    .card-title{
        font-size: 2.5rem !important;
    }
    .card-subtitle{
        font-size: 2.25rem !important;
    }
    .card-body{
        font-size: 40px;
    }
    .Proyectos h2{
        font-size: 3.5rem ;
    }

}
